.hl {
  margin: 0 0 15px;
  background-color: #fbfbfb;
  font-size: 16px;
  padding: 15px 10px;
  overflow: hidden;
  text-shadow: none;
  color: #111;
  box-shadow: inset 0 0 10px rgba(0,0,0,.05);
  border-radius: 5px;
}
.hl pre {
  margin: 0;
  background: none;
}
.hightlight code{
  float: left;
}
.hl:hover {
  overflow: auto;
}
.hl .hll { background-color: #ffffcc }
.hl .c { color: #888888 } /* Comment */
.hl .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.hl .k { color: #008800; font-weight: bold } /* Keyword */
.hl .cm { color: #888888 } /* Comment.Multiline */
.hl .cp { color: #cc0000; font-weight: bold } /* Comment.Preproc */
.hl .c1 { color: #888888 } /* Comment.Single */
.hl .cs { color: #cc0000; font-weight: bold; background-color: #fff0f0 } /* Comment.Special */
.hl .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.hl .ge { font-style: italic } /* Generic.Emph */
.hl .gr { color: #aa0000 } /* Generic.Error */
.hl .gh { color: #303030 } /* Generic.Heading */
.hl .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.hl .go { color: #888888 } /* Generic.Output */
.hl .gp { color: #555555 } /* Generic.Prompt */
.hl .gs { font-weight: bold } /* Generic.Strong */
.hl .gu { color: #606060 } /* Generic.Subheading */
.hl .gt { color: #aa0000 } /* Generic.Traceback */
.hl .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.hl .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.hl .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.hl .kp { color: #008800 } /* Keyword.Pseudo */
.hl .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.hl .kt { color: #888888; font-weight: bold } /* Keyword.Type */
.hl .m { color: #0000DD; font-weight: bold } /* Literal.Number */
.hl .s { color: #dd2200; background-color: #fff0f0 } /* Literal.String */
.hl .na { color: #336699 } /* Name.Attribute */
.hl .nb { color: #003388 } /* Name.Builtin */
.hl .nc { color: #bb0066; font-weight: bold } /* Name.Class */
.hl .no { color: #003366; font-weight: bold } /* Name.Constant */
.hl .nd { color: #555555 } /* Name.Decorator */
.hl .ne { color: #bb0066; font-weight: bold } /* Name.Exception */
.hl .nf { color: #0066bb; font-weight: bold } /* Name.Function */
.hl .nl { color: #336699; font-style: italic } /* Name.Label */
.hl .nn { color: #bb0066; font-weight: bold } /* Name.Namespace */
.hl .py { color: #336699; font-weight: bold } /* Name.Property */
.hl .nt { color: #bb0066; font-weight: bold } /* Name.Tag */
.hl .nv { color: #336699 } /* Name.Variable */
.hl .ow { color: #008800 } /* Operator.Word */
.hl .w { color: #bbbbbb } /* Text.Whitespace */
.hl .mf { color: #0000DD; font-weight: bold } /* Literal.Number.Float */
.hl .mh { color: #0000DD; font-weight: bold } /* Literal.Number.Hex */
.hl .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.hl .mo { color: #0000DD; font-weight: bold } /* Literal.Number.Oct */
.hl .sb { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Backtick */
.hl .sc { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Char */
.hl .sd { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Doc */
.hl .s2 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Double */
.hl .se { color: #0044dd; background-color: #fff0f0 } /* Literal.String.Escape */
.hl .sh { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Heredoc */
.hl .si { color: #3333bb; background-color: #fff0f0 } /* Literal.String.Interpol */
.hl .sx { color: #22bb22; background-color: #f0fff0 } /* Literal.String.Other */
.hl .sr { color: #008800; background-color: #fff0ff } /* Literal.String.Regex */
.hl .s1 { color: #dd2200; background-color: #fff0f0 } /* Literal.String.Single */
.hl .ss { color: #aa6600; background-color: #fff0f0 } /* Literal.String.Symbol */
.hl .bp { color: #003388 } /* Name.Builtin.Pseudo */
.hl .vc { color: #336699 } /* Name.Variable.Class */
.hl .vg { color: #dd7700 } /* Name.Variable.Global */
.hl .vi { color: #3333bb } /* Name.Variable.Instance */
.hl .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */
